.thumbnail img {
    width : 100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#mainPage{
    display: flex;
    flex-wrap: wrap;
}

#new_title{
    text-align: center;
}

#new_form{
    width: 30%;
    margin: 25px auto;
}

#delete-form{
    display: inline;
}